* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #eeeeee;
    flex-grow: 1;
}